/*Сама кнопка*/
.button-wrapper {
    background: $BackgroundButtonBlock;
    min-height: 525px;
    @include flex(center, center);

  .vawe-100 {
    @include flex(center, center);
    width: 405px;
    height: 405px;
    background-color: rgba(172, 55, 142, 0.02);
    border-radius:50%;
  }
  .wave-75 {
    @include flex(center, center);
    width: 345px;
    height: 345px;
    background-color: rgba(172, 55, 142, 0.039);
    border-radius:50%;
    animation: wave-75 linear 1s infinite;
  }
  .wave-50 {
    @include flex(center, center);
    width: 275px;
    height: 275px;
    background-color: rgba(172, 55, 142, 0.071);
    border-radius:50%;
    animation: wave-50 linear 1s infinite;
  }
  .wave-25 {
    @include flex(center, center);
    width: 210px;
    height: 210px;
    background-color: rgba(172, 55, 142, 0.188);
    border-radius:50%;
    animation: wave-25 linear 1s infinite;
  }
  .wave-0 {
    @include flex(center, center);
    animation: round-button 1.5s infinite;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    cursor: pointer;
    &__link {
      display: block;
      width: 160px;
      height: 160px;
      img {
        width: 100%;
        height: 100%;
        transition:.3s;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        animation: wave-0 linear 1s infinite;
      }
    }
  } //end wave-0
} //end button-wrapper 

/*Точка крутящиеся по орбите*/
.chart {
  transform: rotate(-90deg);
}
.unit {
  fill: none;
  stroke-width: 1;
  stroke: #ed751b;
  stroke-dashoffset: 303;
  stroke-dasharray: 303;
  animation: circle 1.5s infinite;
}
.animation-circle {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  border-radius: 50%;
  @include flex(center, center);
  animation: round-way 1.5s infinite;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
  }
  &::before {
    width: 8px;
    height: 8px;
    background: #ed751b;
    border: 3px solid #ed751b;
    z-index: 1;
    transform: translate(-50%, -30%);
    animation: circle-before  1.5s infinite;
  }
}


/*=========МЕДИА ЗАПРОСЫ=========*/
@media(max-width: 450px) {
  .button-wrapper {
    min-height: 400px;
    .vawe-100 {
      width: 275px;
      height: 275px;
    }
    .wave-75 {
      width: 275px;
      height: 275px;
      animation: none;
    }
  }
} //end media


@media(max-width: 380px) {
  .button-wrapper {
    min-height: 300px;
    .wave-50 {
      width: 255px;
      height: 255px;
    }
    .wave-25 {
      width: 190px;
      height: 190px;
    }
    .wave-0 {
      width: 150px;
      height: 150px;
      &__link {
        width: 140px;
        height: 140px;
      }
    } //end wave-0
  }
  .animation-circle {
    width: 160px;
    height: 160px;
  }
} //end media