.dots {
  @include flex(space-between);
  width: 113px;
  margin: 0 auto;
  &__item {
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s all;
    &::before {
      content: '';
      width: 5px;
      height: 5px;
      background: #48555d;
      border-radius: 50%;
    }
  }
  &__item:hover {
    transform: scale(1.2);
  }
  
  .dots__single_active {
    border: 2px solid #ed751b;
  }
  .dots__single_active::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #ed751b;
    border-radius: 50%;
  }

  &__plural {
    background: #ffffff;
  }
  /*Модификаторы*/
  &_position {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
  
  }
}