@import "./logo";
@import "./social-icons";
@import "./burger-menu";


.header-inner {
  background: $BackgroundHeader;
  display: flex;
  padding-top: 60px;
  min-height: 300px;
  position: relative;
}
.contact-block {
  padding-left: 25px;
  height: 23px;
  display: flex;
  align-items: center;
  &__icon {
    width: 23px;
    height: 23px;
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__phone {
    a {
      font-family: "Lato";
      font-size: 16px;
      letter-spacing: 0.2em;
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      color: #6b7175;
      cursor: default;
    }
  }
}



/*=========МЕДИА ЗАПРОСЫ=========*/
@media(max-width: 1170px) {
  .header-inner {
    padding-left: 21px;
    border: 1px solid transparent;
  }
  .contact-block {
    padding-left: 0;
  }
}

@media(max-width: 991px) {
  .header-inner {
    min-height: 150px;
    padding-top: 15px;
  }
  .contact-block {
    
    &__icon {
      margin-right: 5px;
    }
    &__phone {
      a {
        letter-spacing: normal;
      }
    }
    &_position {
      position:absolute;
      left: 5%;
      bottom: 48%;
    }
  }
}

@media(max-width: 767px) {
  .header-inner {
    padding-left: 15px;
  }
}


