
.header-inner {
  background: $BackgroundHeader;
  display: flex;
  padding-top: 60px;
  min-height: 300px;
  .logo-block {
    padding: 0 85px 0 60px;
    &__link {
      display: block;
      width: 119px;
      height: 29px;
      transition: 0.5s all;
    }
    &__link:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .contact-block {
    height: 23px;
    display: flex;
    align-items: center;
    &__icon {
      width: 23px;
      height: 23px;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__phone {
      a {
        font-family: "Lato";
        font-size: 16px;
        letter-spacing: 0.2em;
        font-weight: 400;
        text-transform: uppercase;
        color: #6b7175;
        cursor: default;
      }
    }
  }

  .nav-block {
    width: 500px;
    &_margin-left-auto {
      margin-left: auto;
    }
    .nav {
      .menu {
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
          &__item {
            transition: 0.5s all;
          }
          &__item:hover {
            transform: scale(1.1);
          }
          &__link {
            font-family: "Lato";
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #53595c;
          }
      }
    }
  }
  .social-icons-block {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 55px;
    padding-left: 62px;
    position: relative;
    top: -11px;
    &__item {
      width: 50px;
      height: 50px;
      border: 1px solid#a53689;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__link {
      display: block;
      width: 20px;
      height: 18px;
      cursor: pointer;
      transition: 0.5s all;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__link:hover {
      transform: scale(1.3);
    }
  }
}






/*=========МЕДИА ЗАПРОСЫ=========*/

@media(max-width: 1170px) {
  .header-inner {
    .logo-block {
      padding: 0 35px;
    }
    .nav-block {
      width: 380px;
    }
  }
}


@media(max-width: 991px) {
  .header-inner {
    .nav-block {
      width: 180px;
      .nav {
        display: none;
        &_active {
          display: block;
          animation-name: fade;
          animation-duration: 2s;
      }
        .menu {
          height: auto;
          flex-direction: column;
          &__item {
            margin-bottom: 15px;
          }
        }
      }
      .burger-menu {
        $menuColor: grey;
        $lineWidth: 70%;
        $lineHeigth: 5px;
        $lineOffset: 7px;
        width: 70px;
        height: 50px;
        border: 1px solid $menuColor;
        border-radius: 5px;
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        transition: .3s;
        &:hover {
          .burger-menu__line {
            background: transparent;
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
        }
        &__line {
          display: block;
          width: $lineWidth;
          height: $lineHeigth;
          background:$menuColor;
          position: relative;
          &::before, &::after {
            content: '';
            display: block;
            background: $menuColor;
            width: 100%;
            height: $lineHeigth;
            position:absolute;
            transition: .3s;
          }
          &::before {
            transform: translateY(-$lineOffset);
          }
          &::after {
            transform: translateY($lineOffset);
          }
        }
      }
      .burger-menu_active {
        width: 25px;
        height: 25px;
        .burger-menu__line {
          background: transparent;
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .social-icons-block {
      padding: 0 35px;
    }
  }
}

@media(max-width: 767px) {
  .header-inner {
    position: relative;
    .contact-block {
      position: absolute;
      left: 5%;
      bottom: 45%;
    }
  }
}

@media(max-width: 575px) {
  .header-inner {
    min-height: 120px;
    padding-top: 15px;
    .logo-block {
      padding: 0 15px;
    }
    .contact-block {
      bottom: 20%;
      &__icon {
        margin-right: 5px;
      }
      &__phone {
        a {
          letter-spacing: normal;
        }
      }
    }
    .nav-block {
      width: 135px;
      padding-right: 15px;
    }
    .social-icons-block {
      display: none;
    }
  }
}


