/*Точка крутящиеся по орбите номера слайдера*/
.figure {
  transform: rotate(-90deg);
}
.initial {
  fill: none;
  stroke-width: 1;
  stroke: #a53689;
  stroke-dashoffset: 303;
  stroke-dasharray: 303;
  animation: circle 1.5s infinite;
}
.animation-count {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.orbit {
  background: rgba($color: #181d21, $alpha: 0.4);
  @include flex(center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-radius: 50%;
  animation: round-dot 1.5s infinite;
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 50%;
  }
  &::before {
    width: 8px;
    height: 8px;
    background: #a53689;
    border: 3px solid #a53689;
    z-index: 1;
    transform: translate(-50%, -30%);
    animation: circle-before 1.5s infinite;
  }
}

/*сам слайдер*/
.wrapper-slider {
  background: $BackgroundHeroSlider;
  width: 100%;
  min-height: 720px; /*Обратить на это внимание при адаптации*/
  position: relative; /*Это выравнивает боковые тригерры*/
  .truck-slider {
    width: 100%; /*При абсолютном позиционировани width и height иногда обязательны*/
    height: 100%;
    position: absolute;
    bottom: 0;
    border: 1px solid transparent;
  }

  .slide {
    width: 80%;
    height: 100%;
    overflow: hidden;
    position:absolute;
    left: 5.4%;
    border: 1px solid transparent;
    &__img {
      width: 95.3%;
      height: 515px;
      border: 1px solid transparent;
      position: relative;
      img {
        height: 100%;
        position:absolute;
        right: 0;
        bottom: 0;
      }
    }
    &__animation {
      position:absolute;
      top: 34.25%; /*РАВНО УРОВНЮ ПСЕВДОЭЛЕМЕНТА БЕФОРЕ IMG*/
      transform: translateY(-34%);
      right: 0; /*Обратить на это внимание при адаптации*/
      z-index: 20;
    }
    &__count {
      width: 50%;
      height: 50%;
      border-radius:50%;
      @include flex(center, center);
    }
    &__wrapper {
      width: 31px;
      animation: round-count 1.5s infinite;
      @include sizeImg;
    }

    &__description {
      width: 85.3%;
      text-align: right;
      position:absolute;
      right: 14.5%;
      bottom: 20%;
      font-family: 'Playfair Display';
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.6em;
      color: #48555d;
    }
  } //end slide

  .button-block__left, .button-block__right {
    position:absolute;
    top: 34.2%;
    transform: translateY(-34.2%);
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #31383e;
    cursor: pointer;
  }
  .button-block__left:hover {
    box-shadow: 3px 3px 20px #a53689;
    transition: .5s all;
  }
  .button-block__right:hover {
    box-shadow: 3px 3px 20px #a53689;
    transition: .5s all;
  }
  .button-block__left {
    left: 1%;
    transform: rotate(-90deg);
  }
  .button-block__right {
    right: 1%;
    transform: rotate(90deg);
  }
  .button-block__right::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #a853ec;
    position:absolute;
    left: 35%;
    bottom: -45px;
    transform: rotate(90deg);
  }
  .button-block_active {
    color: #5e00ca;
  }


  /*Slide modify*/
  .slide__description_red {
    color: red;
  }
  .slide__description_yellow {
    color: yellow;
  }
  .slide__description_green {
    color: green;
  }
}




/*=========МЕДИА ЗАПРОСЫ=========*/
@media(max-width: 1690px) {
  .wrapper-slider {
    .slide {
      width: 84%;
    }
  }
}

@media(max-width: 1540px) {
  .wrapper-slider {
      .slide {
        width: 86%;
        &__img {
          width: 100%;
        }
        &__description {
          letter-spacing: 1em;
          right: 50%;
          transform: translateX(50%);
          text-align: center;
        }
      } //ed slide
    .button-block__right::after {
      width: 28px;
      left: 40px;
      bottom: -28px;
    }
  }
}

@media(max-width: 1440px) {
  .wrapper-slider {
    min-height: 640px;
    .slide {
      left: 6%;
      &__img {
        height: 450px;
      }
      &__description {
        letter-spacing: 1em;
      }
    } //end slide
    .slide__animation {
      top: 32%;
    }
    .button-block__left, .button-block__right {
      top: 34.3%;
    }
    .button-block__right::after {
      width: 15px;
      bottom: -15px;
      left: 40px;
    }
  }
}


@media(max-width: 1250px) {
  .wrapper-slider {
    min-height: 555px;
    .slide {
      width: 83%;
      left: 7.4%;
      &__img {
        height: 385px;
      }
    } //end slide
    .slide__animation {
      top: 30.9%;
    }
    .button-block__left, .button-block__right {
      top: 33.5%;
    }
  }
}


@media(max-width: 1100px) {
  .animation-count {
    width: 90px;
    height: 90px;
  }
  .wrapper-slider {
    min-height: 510px;
    .slide {
      &__img {
        height: 350px;
      }
    } //end slide
    .slide__animation {
      top: 31.2%;
    }
    .button-block__left, .button-block__right {
      top: 33.3%;
    }
  }
}

@media(max-width: 991px) {
  .orbit::before {
    width: 6px;
    height: 6px;
  }
  .animation-count {
    width: 80px;
    height: 80px;
  }
  .wrapper-slider {
    min-height: 456px;
    .slide {
      width: 90.5%;
      left: 4.8%;
      &__img {
        height: 315px;
        img {
          right: -15px;
        }
      }
      &__description {
        font-size: 18px;
      }
    } //end slide
    .slide__animation {
      top: 30.8%;
    }
    .button-block__left, .button-block__right {
      top: 32.7%;
      font-size: 13px;
    }
    .button-block__left {
      left: -2%;
    }
    .button-block__right {
      right: -2%;
    }
    .button-block__right::after {
      display: none;
    }
  } //end wrapper-slider
}

@media(max-width: 767px) {
  .orbit::before {
    width: 5px;
    height: 5px;
  }
  .animation-count {
    width: 70px;
    height: 70px;
  }
  .wrapper-slider {
    min-height: 390px;
    .slide {
      width: 96.2%;
      left: 2%;
      &__img {
        height: 262px;
      }
    } //end slide
    .slide__animation {
      top: 26.5%;
    }
    .button-block__left, .button-block__right {
      display: none;
    }
  } //end wrapper-slider
}

@media(max-width: 575px) {
  .orbit::before {
    width: 4px;
    height: 4px;
  }
  .animation-count {
    width: 55px;
    height: 55px;
  }
  .wrapper-slider {
    min-height: 334px;
    .slide {
      width: 96.1%;
      &__img {
        height: 217px;
      }
    } //end slide
    
    .slide__animation {
      top: 28.5%;
    }
  } //end wrapper-slider
}


@media(max-width: 475px) {
  .orbit::before {
    width: 4px;
    height: 4px;
  }
  .animation-count {
    width: 48px;
    height: 48px;
  }
  .wrapper-slider {
    min-height: 276px;
    .slide {
      width: 96.1%;
      &__img {
        height: 172px;
      }
      &__description {
        letter-spacing: normal;
      }
    } //end slide
    .slide__animation {
      top: 27.2%;
    }
  } //end wrapper-slider
}


@media(max-width: 375px) {
  .orbit::before {
    width: 4px;
    height: 4px;
  }
  .animation-count {
    width: 48px;
    height: 48px;
  }
  .wrapper-slider {
    min-height: 249px;
    .slide {
      width: 96.1%;
      &__img {
        height: 149px;
      }
    } //end slide
    .slide__animation {
      top: 25.9%;
    }
  } //end wrapper-slider
}
