.wrapper-slider {
  background: $BackgroundHeroSlider;
  width: 100%;
  min-height: 720px; /*Обратить на это внимание при адаптации*/
  position: relative; /*Это выравнивает боковые тригерры*/
  .truck-slider {
    width: 100%; /*При абсолютном позиционировани width и height иногда обязательны*/
    height: 100%;
    position: absolute;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: relative;
    // z-index: 1; /*из-за этого не работал cursor pointer у триггеров*/
    &__img {
      max-width: 1202px; /*Обратить на это внимание при адаптации*/
      max-height: 521px; /*Обратить на это внимание при адаптации*/
      position: absolute;
      top: 0;
      right: 400px;  /*Обратить на это внимание при адаптации*/
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__count {
      position:absolute;
      top: 34%;
      transform: translateY(-34%);
      right: 16.3%; /*Обратить на это внимание при адаптации*/
      width: 106px;
      height: 106px;
      background: rgba($color: #181d21, $alpha: 0.4);
      border: 1px solid #a53689;
      border-radius:50%;
    }
    &__wrapper {
      width: 31px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: 100%;
      }
    }

    &__description {
      position:absolute;
      left: 50%;
      bottom: 20%;
      transform: translateX(-50%);
      font-family: 'Playfair Display';
      font-size: 28px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.6em;
      color: #48555d;
    }
  }

  .button-block__left, .button-block__right {
    position:absolute;
    top: 34.2%;
    transform: translateY(-34.2%);
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #31383e;
    cursor: pointer;
  }
  .button-block__left:hover {
    box-shadow: 3px 3px 20px #a53689;
    transition: .5s all;
  }
  .button-block__right:hover {
    box-shadow: 3px 3px 20px #a53689;
    transition: .5s all;
  }
  .button-block__left {
    left: 0;
    transform: rotate(-90deg);
  }
  .button-block__right {
    right: 0;
    transform: rotate(90deg);
  }
  .button-block__right::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #a853ec;
    position:absolute;
    left: 35%;
    bottom: -45px;
    transform: rotate(90deg);
  }
  .button-block__left::after {
    content: url("../img/hero-slider/slide1/slide-divider.png");
    display: block;
    width: 165px;
    height: 1px;
    position:absolute;
    z-index: -1;
    left: -26%;
    bottom: -100px;
    transform: rotate(90deg);
  }

  .button-block_active {
    color: #5e00ca;
  }
  .dot-block {
    display: flex;
    justify-content: space-between;
    width: 113px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      border: 2px solid transparent;
      border-radius: 50%;
      cursor: pointer;
      transition: .5s all;
    }
    &__item:hover {
      transform: scale(1.2);
    }
    &__item_active {
      border: 2px solid #ed751b;
    }
    &__inner{
      width: 5px;
      height: 5px;
      background: #48555d;
      border-radius: 50%;
    }
    &__inner_active {
      background: #ed751b;
    }
  }
  /*Slide modify*/
  .slide__description_red {
    color: red;
  }
  .slide__description_yellow {
    color: yellow;
  }
  .slide__description_green {
    color: green;
  }
}







/*=========МЕДИА ЗАПРОСЫ=========*/
@media(max-width: 1770px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 350px;
      }
    }
  }
}
@media(max-width: 1720px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 300px;
      }
    }
  }
}
@media(max-width: 1670px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 250px;
      }
      &__count {
        right: 10%;
      }
    }
  }
}
@media(max-width: 1620px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 200px;
      }
      &__description {
        letter-spacing: 1em;
      }
    }
  }
}
@media(max-width: 1570px) {
  .wrapper-slider {
    .button-block__left::after {
      content: none;
    }
  }
  .wrapper-slider {
    .button-block__right::after {
      content: none;
    }
  }
}
@media(max-width: 1490px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 150px;
      }
      &__count {
        right: 5%;
      }
    }
  }
}
@media(max-width: 1430px) {
  .wrapper-slider {
    min-height: 700px;
    .slide {
      &__img {
        right: 100px;
      }
    }
  }
}
@media(max-width: 1380px) {
  .wrapper-slider {
    min-height: 550px;
    .slide {
      &__img {
        max-width: 890px;
        right: 200px;
      }
      &__count {
        right: 10%;
      }
      &__description {
        letter-spacing: 0.5em;
      }
    }
  }
}
@media(max-width: 1170px) {
  .wrapper-slider {
    .slide {
      &__img {
        right: 150px;
      }
      &__count {
        right: 10%;
      }
    }
  }
}
@media(max-width: 1120px) {
  .wrapper-slider {
    min-height: 420px;
    .slide {
      &__img {
        max-width: 690px;
        right: 200px;
      }
    }
  }
}

@media(max-width: 991px) {
  .wrapper-slider {
    min-height: 450px; /*Здесь это работает почему-то как max-height*/
    .slide {
      &__img {
        width: 100%;
        top: 10px; /*Обратить при адаптации*/
        right: 50%; /*Это почему-то уменьшает размер фото*/ /*Обратить при адаптации*/
        transform: translateX(50%); /*Это почему-то уменьшает размер фото*/
      }
      &__description {
        font-size: 18px;
      }
      &__count {
        width: 73px;
        height: 73px;
      }
    }
  }
  .button-block__left, .button-block__right, .slide__count {
    display: none;
  }
}
@media(max-width: 767px) {
  .wrapper-slider {
    min-height: 400px; /*Здесь это работает почему-то как max-height*/
    .slide__description {
      bottom: 13%;
    }
  }
}
@media(max-width: 575px) {
  .wrapper-slider {
    min-height: 325px;
    .slide {
      &__description {
        letter-spacing: normal;
        bottom: 10%;
      }
    }
  }
}
@media(max-width: 480px) {
  .wrapper-slider {
    min-height: 280px;
    .slide__description {
      bottom: 13.5%;
    }
  }
}
@media(max-width: 380px) {
  .wrapper-slider {
    min-height: 230px;
  }
}
