.logo-block {
  width: 240px;
  height: 29px;
  padding: 0 60px;
  display: block;
  @include flex(center);
  @include sizeImg;
  &_m0auto {
    margin: 0 auto;
  }
  &__link {
    display: block;
    width: 119px;
    height: 29px;
    transition: 0.5s all;
    cursor: pointer;
  }
  &__link:hover {
    transform: scale(1.1);
  }
}


@media(max-width: 1170px) {
  .logo-block {
    padding: 0 35px;
  }
}

@media(max-width: 991px) {
  .logo-block {
    width: 119px;
    padding: 0;
  }
}

@media(max-width: 575px) {
  .logo-block {
    padding: 0;
    width: 119px;
  }
}