.logo-block {
  padding: 0 85px 0 60px;
  &__link {
    display: block;
    width: 119px;
    height: 29px;
    transition: 0.5s all;
    cursor: pointer;
  }
  &__link:hover {
    transform: scale(1.1);
  }
  @include sizeImg;
}
@media(max-width: 1170px) {
  .logo-block {
    padding: 0 35px;
  }
}
@media(max-width: 575px) { 
  .logo-block {
    &_position {
      position:absolute;
      top: 41%;
    }
    padding: 0 15px;
  }
}