.nav-block {
  width: 500px;
  &_margin-left-auto {
    margin-left: auto;
  }
  &_margin {
    margin: 53px auto 43px auto;
  }
}

.menu {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    display: block; /*Без этого hover не работает*/
    font-family: "Lato";
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #53595c;
    transition: 0.5s all;
      &:hover {
        transform: scale(1.1);
      }
      &_active {
      color: #a53689;
    }
  }
}

@media(max-width: 1300px) {
  .nav-block {
    width: 450px;
  }
}

@media(max-width: 1200px) {
  .nav-block {
    width: 325px;
  }
}

@media(max-width: 767px) {
  .nav-block {
    width: 135px;
  }
  .nav {
    display: none;
    &_absolute {
    position:absolute;
    top: 18px;
    right: 67px;
  }
    &_active {
      display: block;
      @include animation;
    }
  }
  .menu {
    height: auto;
    flex-direction: column;
    &__item {
      margin-bottom: 8px;
    }
  }
}