.services-section {
  /*4 НИЖНИХ СЕРЕКТОРА НУЖНЫ РАДИ ПОВЫШЕНИЯ СПЕЦИФИЧНОСТИ*/
  .dots__item {
    background: transparent;
    opacity: 1;
  }
  .dots__item::before {
    background: #ffffff;
  }
  .dots__item_active {
    border: 2px solid #ed751b;
  }
  .dots__item_active::before {
    width: 5px;
    height: 5px;
    background: #ed751b;
    border-radius: 50%;
  }

  padding-top: 24px; /*Обратить внимание при адаптации*/
  background: $BackgroundSectionServices url('../img/services-section/bg.png') left (bottom) no-repeat;
  &__title {
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6em; /*Обратить внимание при адаптации*/
    color: #ac378e;
    text-align: center;
    margin-bottom: 14px; /*Обратить внимание при адаптации*/
  }
  &__title-main {
    font-family: 'Playfair Display';
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px; /*Обратить внимание при адаптации*/
  }

  /*Начало контентного блока*/
  .contents {
    &_show {
      display: block;
      @include animation;
    }
    &_hide {
      display: none;
    }
    &__btn {
      width: 260px; /*Обратить внимание при адаптации*/
      height: 54px; /*Обратить внимание при адаптации*/
      line-height: 54px; /*Обратить внимание при адаптации*/
      background-color: #000000;
      background-image: linear-gradient(90.0deg, #5e00ca 0%, #d5536f 100%);
      margin: 64px auto 124px auto;
      text-align: center;
      a {
        font-family: 'Montserrat Alternates';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2em; /*Обратить внимание при адаптации*/
        color: #ffffff;
      }
      &_red {
        background-color: red;
        background-image: none;
      }
      &_tomato {
        background-color: tomato;
        background-image: none;
      }
      &_green {
        background-color: green;
        background-image: none;
      }
      &_blue {
        background-color: blue;
        background-image: none;
      }
    }

    /*Начало ссылки*/
    &__email {
      margin-top: 500px; /*Обратить внимание при адаптации*/
    }
    &__description, &__link {
      font-family: 'Playfair Display';
      font-size: 70px;
      line-height: 95px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
    &__link > a {
      color: #ffffff;
      border-bottom: 2px solid #ac378e;
      span {
        color: #a53689;
      }
    }
  } //end contents
} //end services-section

/*МЕДИА ЗАПРОСЫ*/
@media(max-width: 1380px) {
  .services-section {
    &__title-main {
      font-size: 50px;
    }
    .contents {
      &__email {
        margin-top: 300px;
      }
      &__description, &__link {
        font-size: 50px;
        line-height: 87px;
      }
    } //end contents
  } //end services-section
} //end media

@media(max-width: 1100px) {
  .services-section {
    .contents {
      &__btn {
        margin: 50px auto 80px auto;
      }
      &__title-main {
        font-size: 43px;
        &__email {
          margin-top: 150px;
        }
        &__description, &__link {
          font-size: 40px;
          line-height: 70px;
        }
      }
    } //end contents
  } //end services-section
} //end media

@media(max-width: 991px) {
  .services-section {
    &__title-main {
      font-size: 35px;
    }
    .contents {
      &__email {
        margin-top: 100px;
      }
    } //end contents
  } //end services-section
} //end media

@media(max-width: 767px) {
  .services-section {
    &__title {
      letter-spacing: 0.4em; /*Обратить внимание при адаптации*/
      margin-bottom: 8px; /*Обратить внимание при адаптации*/
    }
    &__title-main {
      font-size: 25px;
      margin-bottom: 25px;
    }
    .contents {
      &__btn {
        width: 200px;
        margin: 35px auto 50px auto;
        a {
          letter-spacing: normal; /*Обратить внимание при адаптации*/
        }
      }
      &__email {
        margin-top: 70px;
      }
      &__description, &__link {
        font-size: 30px;
        line-height: 60px;
      }
    } //end contents
  } //end services-section
} //end media

@media(max-width: 575px) {
  .services-section {
    padding: 0 15px;
    &__title {
      letter-spacing: 0.2em; /*Обратить внимание при адаптации*/
    }
    &__title-main {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    .contents {
      &__btn {
        margin: 25px auto 35px auto;
        height: 45px;
        line-height: 45px;
        a {
          letter-spacing: normal;
        }
      }
      &__email {
        margin-top: 50px;
      }
      &__description, &__link {
        font-size: 15px;
        line-height: 40px;
      }
    } //end contents
  } //end services-section
} //end media