$BackgroundHeader: #121619;
$BackgroundHeroSlider: #121619;
$BackgroundButtonBlock: #121619;
$BackgroundTitleBlock: #121619;
$BackgroundSectionPromo: #121619;
$BackgroundSectionCards: #121619;


$width100: 100%;

@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}
