@import "./normalize.scss";
@import "./variables";
@import "./mixins";
@import "./animation";
@import "./logo";
@import "./social-icons";
@import "./burger-menu";
@import "./tabs";
@import "./dots";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  outline: none;
}
body {
  background: $BackgroundBody;
}































.swiper-container {
  max-width: 1596px;/*Обратить внимание при написании кода JS*/
  margin: 0 auto;
  padding-bottom: 65px;
}
  .swiper-wrapper {
    // height: 100%;
    // margin-bottom: 65px;
    // position: relative;
    // left: 0;
    // top: 0;
    // @include flex();
  }
  .swiper-slide {
    min-height: 380px; /*Обратить внимание при адаптиции*/
    padding: 40px 55px 0 50px;
    border-right: 1px solid red;
    border-left: 1px solid red;
    &:hover {
      background-color: #372b73;
      background-image: linear-gradient(36.0deg, #5e00ca 11%, #d5536f 88%);
    }
    &__icon {
      width: 72px;
      height: 65px;
      margin-bottom: 25px;
      @include sizeImg;
    }
    &__title {
      font-family: 'Lato';
      font-size: 30px;
      font-weight: 400;
      color: #ffffff;
      margin-bottom: 30px;
    }
    &__description {
      font-family: 'Lato';
      font-size: 18px;
      line-height: 32px;
      font-weight: 300;
      color: #ffffff;
    }
  }


.dots, .swiper-pagination {
  display: flex;
  justify-content: space-between;
  width: 113px;
  margin: 0 auto;
  position: static;
  &__item, &-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s all;
  }

  &__item:hover, &-bullet:hover {
    transform: scale(1.2);
  }
  
  &__inner {
    width: 5px;
    height: 5px;
    background: #48555d;
    border-radius: 50%;
  }
  &__single, &__multiple {
    &_active {
      border: 2px solid #ed751b;
    }
  }
  &__plural {
    background: #ffffff;
  }
  &__singular, &__plural {
    &_active {
      background: #ed751b;
    }
  }
  /*Модификаторы*/
  &_position {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
  
  }
}


/*МЕДИА ЗАПРОСЫ*/
@media(max-width: 1639px) {
  .swiper-container {
    max-width: 1054px; /*Обратить внимание при написании кода JS*/
  }
}

@media(max-width: 1099px) {
  .swiper-container {
    max-width: 512px; /*Обратить внимание при написании кода JS*/
  }
}

@media(max-width: 767px) {
  .swiper-wrapper {
      margin-bottom: 45px;
    }
  .swiper-slide {
    min-height: 360px;
  }
}

@media(max-width: 575px) {
  .swiper-container {
    max-width: 290px;
  }
  .swiper-wrapper {
    margin-bottom: 45px;
    &__description {
      font-size: 16px;
    }
  }
  .swiper-slide {
    padding: 20px 0 0 10px;
  }
}


@import "./header";
@import "./hero-slider";
@import "./btn-block";
@import "./title-block";
@import "./section-promo";
@import "./section-cards";
@import "./section-services";


