<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Creative Project
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&family=Montserrat+Alternates&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header-block
      .container
        .header-inner
          .logo-block
            a.logo-block__link
             img(src="img/logo.png", alt="")
          .contact-block
            .contact-block__icon
              img(src="img/header/phone.png", alt="")
            .contact-block__phone
              a(href="tel:+71885696822") +71 88 569 6822
          .nav-block.nav-block_margin-left-auto
            button.burger-menu
              span.burger-menu__line
            nav.nav
              ul.menu
                li.menu__item
                  a.menu__link(href="#") About
                li.menu__item
                  a.menu__link(href="#") Projects
                li.menu__item
                  a.menu__link(href="#") Blog
                li.menu__item
                  a.menu__link(href="#") Contact
            
          .social-icons-block
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/instagram.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/facebook.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/twitter.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/behance.png", alt="")
    main.main-block
      .hero-slider
        .container
          .wrapper-slider
            .truck-slider
              .slide
                .slide__img
                  img(src="img/hero-slider/slide1/slide1.png", alt="")
                .slide__count
                  .slide__wrapper
                    img(src="img/hero-slider/slide1/count1.png", alt="")
                .slide__description Your presence

              .slide
                .slide__img
                  img(src="img/hero-slider/slide1/slide1.png", alt="")
                .slide__count
                  .slide__wrapper
                    img(src="img/hero-slider/slide1/count2.png", alt="")
                .slide__description.slide__description_red Your presence

              .slide
                .slide__img
                  img(src="img/hero-slider/slide1/slide1.png", alt="")
                .slide__count
                  .slide__wrapper
                    img(src="img/hero-slider/slide1/count3.png", alt="")
                .slide__description.slide__description_yellow Your presence

              .slide
                .slide__img
                  img(src="img/hero-slider/slide1/slide1.png", alt="")
                .slide__count
                  .slide__wrapper
                    img(src="img/hero-slider/slide1/count4.png", alt="")
                .slide__description.slide__description_green Your presence


            .button-block
              .button-block__left.button-block_active What we do
              .button-block__right Who we are


            .dot-block
              .dot-block__item.dot-block__item_active
                .dot-block__inner.dot-block__inner_active
              .dot-block__item
                .dot-block__inner
              .dot-block__item
                .dot-block__inner
              .dot-block__item
                .dot-block__inner
      //- .play-btn-block
      //-   .container
      //-     .button-block
      //-       a(href="#").button-block__link
      //-         img(src="img/play-button/play-button-icon.png", alt="")




    script(src="js/script.js")