<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Creative Project
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&family=Montserrat+Alternates&family=Montserrat:wght@400;600&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header-block
      .container
        .header-inner
          .logo-block
            a.logo-block__link
             img(src="img/logo.png", alt="")
          .contact-block
            .contact-block__icon
              img(src="img/header/phone.png", alt="")
            .contact-block__phone
              a(href="tel:+71885696822") +71 88 569 6822
          .nav-block.nav-block_margin-left-auto
            button.burger-menu
              span.burger-menu__line
            nav.nav
              ul.menu
                li.menu__item
                  a.menu__link(href="#") About
                li.menu__item
                  a.menu__link(href="#") Projects
                li.menu__item
                  a.menu__link(href="#") Blog
                li.menu__item
                  a.menu__link(href="#") Contact
            
          .social-icons-block
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/instagram.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/facebook.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/twitter.png", alt="")
            .social-icons-block__item
              a.social-icons-block__link
                img(src="img/header/header-social-icons/behance.png", alt="")
    main.main-block
      .container
        .wrapper-slider
          .truck-slider
            .slide
              .slide__img
                img(src="img/hero-slider/slide1/slide1.png", alt="")
              .slide__count
                .slide__wrapper
                  img(src="img/hero-slider/slide1/count1.png", alt="")
              .slide__description Your presence

            .slide
              .slide__img
                img(src="img/hero-slider/slide1/slide1.png", alt="")
              .slide__count
                .slide__wrapper
                  img(src="img/hero-slider/slide1/count2.png", alt="")
              .slide__description.slide__description_red Your presence

            .slide
              .slide__img
                img(src="img/hero-slider/slide1/slide1.png", alt="")
              .slide__count
                .slide__wrapper
                  img(src="img/hero-slider/slide1/count3.png", alt="")
              .slide__description.slide__description_yellow Your presence

            .slide
                .slide__img
                  img(src="img/hero-slider/slide1/slide1.png", alt="")
                .slide__count
                  .slide__wrapper
                    img(src="img/hero-slider/slide1/count4.png", alt="")
                .slide__description.slide__description_green Your presence


            .button-block
              .button-block__left.button-block_active What we do
              .button-block__right Who we are


            .dot-block
              .dot-block__item.dot-block__item_active
                .dot-block__inner.dot-block__inner_active
              .dot-block__item
                .dot-block__inner
              .dot-block__item
                .dot-block__inner
              .dot-block__item
                .dot-block__inner

        .buttom-wrapper
          .vawe-100
            .wave-75
              .wave-50
                .wave-25
                  .wave-0
                    a(href="#").wave-0__link
                      img(src="img/play-button/play-button-icon.png", alt="")

        section.title-block
            h1.main-title We're a designer & a developer who love building cool stuff with our clients.
            .signature.signature-mt
              img(src="img/title-block/signature.png", alt="")
        section.section-promo
          .section-promo-inner


            .promo-block
              .promo-block__item
                .promo-block__img1
                  img(src="img/promo-section/promo1/img1.png", alt="")
                .promo-block__img2
                  img(src="img/promo-section/promo1/img2.png", alt="")
                .promo-block__count
                  span.current 01
                  span.total /05
              .promo-block__item
                h2.promo-block__title Strategy & Creative <br/> We design and build digital products, and services we believe in.
                .promo-block__description Strategy is not something you can retrospectively apply in order to make irrelevant ideas seem coherent strategists start out with a clear approach to ensure our creative proposal will match your business needs.
                button.promo-block__button Learn more


            .promo-block.promo-block_left
              .promo-block__item.promo-block__item_text-right
                h2.promo-block__title We are bunch of super-skilled <br/> guys and gals who love <br/> to create websites.
                .promo-block__description Filema Rodion proposes individual, airtight packages that keep the product's characteristics unchanged for treats for the marriage, baptism and every social event.
                button.promo-block__button Learn more


              .promo-block__item
                .promo-block__img1.promo-block__img1_reversed
                  img(src="img/promo-section/promo2/img1.png", alt="")
                .promo-block__img2.promo-block__img2_reversed
                  img(src="img/promo-section/promo2/img2.png", alt="")
                .promo-block__count.promo-block__count_reversed
                  span.current 02
                  span.total /05
        section.section-cards
          h3.section-cards__title Selected Projects
          .cards
            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card1.png", alt="")
                .cards__title
                  h4 End of Thino
                .cards__description When the switch is on, it cuts off the data transmission between the charging device and the source
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now

            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card2.png", alt="")
                .cards__title
                  h4 Het Boerenveensche
                .cards__description Thino has a physical switch that activates its turbo-charging feature
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now

            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card3.png", alt="")
                .cards__title
                  h4 Bluerocket
                .cards__description Bluerocket
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now

            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card4.jpg", alt="")
                .cards__title
                  h4 Harmony / Poliform
                .cards__description This chair joins chaos and order in a symbiotic relationship, full of expression and rhythm
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now

            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card5.png", alt="")
                .cards__title
                  h4 Rowenta Studiodry
                .cards__description Rowenta Studiodry 2nd Generation in 2012
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now

            .cards__item
              .cards__inner
                .cards__foto
                  img(src="img/card-section/cards/card6.jpg", alt="")
                .cards__title
                  h4 Fritsch Durisotti
                .cards__description Spline Spline is a new way of producing wicker furniture that dramatically
                .cards__link
                  a(href="#") 1
              .cards__btn
                button Shop Now





    script(src="js/script.js")